button {
    font-size: 8pt;
}

.gameBoardDiv {
    width: 291px;
    float:left;
}
.gamePlayersDiv,
.gameInfoDiv {
    width: 200px;
}

.otherTurnsDiv {
    width: 291px;
}

#gameMyTurnList {
    overflow: auto;
    height: 75px;
}

.tictactoeDiv {
    display: block;
    float: left;
    border-style: solid;
    border-color: #bbb #888 #666 #aaa;
    border-width: 3px 4px 4px 3px;
    width: 90px;
    height: 50px;
    background: #ccc;
    color: #333;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    font-size: xx-large;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gameOverDiv
{
    position: absolute;
    height:50px;
    width: 140px;
    margin:85px 75px;
    background-color:#ffffff;
    border:1px solid black;
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
    display: none;
    line-height: 20px;
    text-align: center;
}

.gameOverDiv p
{
    font-weight:bold;
    color:#000000;
}