<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
<title>Tic Tac Toe</title>
<%- include ../head.html %>
<link rel="stylesheet" type="text/css" href="tictactoe.css">

<script language="javascript">
var Env = <%- EnvJson %>;

Env.players = {};
Env.gameId = "0";
var pgameId = getURLParameter("gameId");
if (pgameId !== null) {
    Env.gameId = pgameId.toString();
}
Env.channel = "game:" + Env.gameId;

function setPlayers(playerList, whoTurn) {
    $(".activePlayer").remove();
    for (playerId in playerList) {
        var $newPlayer = $("#playerTemplate").clone();
        if (playerId === Env.user.oid) {
            $newPlayer.find("#playerName").text("me");
            $newPlayer.find("#playerKick").remove();
            $newPlayer.find("#playerStatus").remove();
        } else {
            $newPlayer.find("#playerName").addClass("playerName" + playerId);
            $newPlayer.find("#playerName").text(playerList[playerId].name);
        }
        $newPlayer.addClass("playerId" + playerId);
        $newPlayer.addClass("activePlayer");
        $newPlayer.css("display", "block");

        if (typeof (Env.players[playerId]) != "undefined") {
            $newPlayer.find("#playerStatus").text(Env.players[playerId].status);
        }

        $newPlayer.find("#playerKick").click(function () {
            var playerId = $(this).parent().attr("playerId");
        });

        $("#playerList").append($newPlayer);
    }
    $(".playerId" + whoTurn).find("#playerTurn").text(" - turn");
}

function setState(game) {
    hideAllMessages();
    $(".gameOverDiv").css("display", "none");

    var gameBoard = game.state.gameBoard;
    for (var i = 0; i < 3; i++) {
        for (var j = 0; j < 3; j++) {
            $("#x" + i + "y" + j).text(gameBoard[i][j]);
            $("#x" + i + "y" + j).css("background", "#ccc");
        }
    }

    $("#gameStatus").text(game.status);
    if (game.whoTurn == Env.user.oid) {
        $("#whoTurn").text("yours");
        turnDipl = "yours";
    } else if (game.whoTurn == 0) {
        $("#whoTurn").text("no ones");
    } else {
        $("#whoTurn").text(game.players[game.whoTurn].name);
    }

    if (game.status == "over") {
        showInfo("game over");
        if (game.state.winner === "") {
            $("#gameWinner").text("everyone");
            showGameOver("It's a Draw");
        } else {
            $("#gameWinner").text(game.players[game.state.winner].name);
            if (game.state.winner === Env.user.oid) {
                showGameOver("You Won");
            } else {
                showGameOver("You Lost");
            }
        }
    } else {
        $("#gameWinner").text("");
    }

    var winnerSet = game.state.winnerSet;
    if (winnerSet != null) {
        for (var i = 0; i < winnerSet.length; i++) {
            $("#" + winnerSet[i]).css("background", "green");
        }
    }

    if (game.state.xes == Env.user.oid) {
        $("#gamePlaying").text("Xs");
    } else {
        $("#gamePlaying").text("Os")
    }

    $("#gameId").text(game.oid.substr(0, 6) + "..");
    Env.gameId = game.oid;

    setPlayers(game.players, game.whoTurn);
}

function showGameOver(msg) {
    $(".gameOverDiv").css("display", "block");
    $(".gameOverDiv p").text(msg);
}

function onopen() {
    if (Env.gameId !== "0") {
        shellys.call({session: Env.session,
            batch: [ {cmd: "game.enter", gameId: Env.gameId},
                {cmd: "game.playing"},
                {cmd: "channel.add", channel: Env.channel, _pt: "foo"}
            ]});
    }
}

function onmessage(res) {
    uiOnMessage(res);
    var from = "socket";

    if (typeof(res.event) == "undefined") {
        log(from, "error", "odd message: " + JSON.stringify(res));
        return;
    }
    if (res.event == "heartbeat") {
        return;
    }
    if (res.event == "error") {
        showError(res.message);
        log(from, "error", JSON.stringify(res));
        return;
    }
    if (typeof(res._pt) !== "undefined") {
        // just show the pass through data as example
        //console.log("handler:", res.event, res._pt);
    }
    if (res.event == "game.enter") {
        setState(res.data);
        return;
    }
    if (res.event == "channel.user") {
        Env.players[res.data.uid] = res.data;
        var $playerStatus = $(".playerId" + res.data.uid).find("#playerStatus");
        if ($playerStatus.size) {
            $playerStatus.text(res.data.status);
        }
        return;
    }
    if (res.event === "game.turn.next") {
        if (res.data.gameId != Env.gameId && res.data.whoTurn === Env.user.oid) {
            updateMyTurns(res.data.gameId, res.data);
        }
    }
    if (res.event == "game.turn"
            || res.event == "game.over"
            || res.event == "game.reset") {
        setState(res.data);
        return;
    }
    if (res.event == "game.playing") {
        setMyTurns(res.data);
        return;
    }
    log(from, "unknown-event", JSON.stringify(res));
}

$(init);
function init() {
    $("#shSystem").text("Example");
    $("#shSubTitle").text("TicTacToe");

    window.addEventListener("load", function () {
        new FastClick(document.body);
    }, false);

    $(".tictactoeDiv").click(function () {
        var id = $(this).attr("id");
        var x = id.slice(1, 2);
        var y = id.slice(3, 4);
        sendCmd("game.turn", {gameId: Env.gameId, move: {x: x, y: y}})
    });

    $("#gameReset").click(function () {
        sendCmd("game.reset", {gameId: Env.gameId});
    });

    commInit();
    messageInit(Env.channel);
    shellys.log = log;
    shellys.onopen = onopen;
    shellys.onmessage = onmessage;
    shellys.connect(Env.socketUrl);
}
</script>
</head>
<body>
<%- include ../header.html %>
<div class="container">

    <div class="row">
        <div class="gameBoardDiv gameBoxDiv span4 offset2" style="width: 293px;">
            <div class="gameOverDiv"><p>You XXXX</p></div>
            <div class="gameBoxHeaderDiv">Game Board</div>
            <table>
                <tr>
                    <td><div id="x0y0" class="tictactoeDiv"></div></td>
                    <td><div id="x1y0" class="tictactoeDiv"></div></td>
                    <td><div id="x2y0" class="tictactoeDiv"></div></td>
                </tr>
                <tr>
                    <td><div id="x0y1" class="tictactoeDiv"></div></td>
                    <td><div id="x1y1" class="tictactoeDiv"></div></td>
                    <td><div id="x2y1" class="tictactoeDiv"></div></td>
                </tr>
                <tr>
                    <td><div id="x0y2" class="tictactoeDiv"></div></td>
                    <td><div id="x1y2" class="tictactoeDiv"></div></td>
                    <td><div id="x2y2" class="tictactoeDiv"></div></td>
                </tr>
            </table>
            <%- include ../errorbox.html %>
        </div>
        <div class="gamePlayersDiv gameBoxDiv span4">
            <div class="gameBoxHeaderDiv" style="">Game Players</div>
            <div id="playerList" class="gameBoxInnerDiv" style="">
                <div id="playerTemplate" style="display:none;">
                    <span id="playerName">player-0</span> <span id="playerStatus">offline</span> </span> <span
                        id="playerTurn"></span>
                </div>
            </div>
        </div>
        <div class="messageLogDiv gameBoxDiv span4">
            <div class="gameBoxHeaderDiv">Messages</div>
            <div class="gameBoxInnerDiv" readonly>
                <div id="messageLog" style="overflow: auto;" readonly></div>
                <div class="gameBoxFooterDiv">
                    <input id="chatInput" type="text"></input/>
                    <button id="sendChat" class="btn btn-small" style="float: right">send</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>

    <div class="row">
        <div class="gameInfoDiv gameBoxDiv span4 offset2" style="width: 293px;">
            <div class="gameBoxHeaderDiv" style="">Game Info</div>
            <div id="gameInfoData" class="gameBoxInnerDiv">
                <div>game id: <span id="gameId"></span></div>
                <div>status: <span id="gameStatus"></span></div>
                <div>whose turn: <span id="whoTurn"></span></div>
                <div>winner: <span id="gameWinner"></span></div>
                <div>playing: <span id="gamePlaying"></span></div>
                <button id="gameReset" class="btn" style="float:right">reset</button>
            </div>
        </div>
        <div class="otherTurnsDiv gameBoxDiv span4">
            <div class="gameBoxHeaderDiv">Other Turns</div>
            <div id="gameMyTurnList" class="gameBoxInnerDiv" style="overflow: auto" readonly>
                <div id="gameTemplate" style="display:none;">
                    <span id="gameName">game-0</span>
                    <span id="gameTurn"></span>
                    <button class="btn btn-mini" style="float:right;" id="myGameRemove">remove</button>
                    <button class="btn btn-mini" style="float:right;" id="myGameJoin">play</button>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include ../footer.html %></body>
</html>