body {
    margin-top: 0;
    margin-right: 0;
    font-family: Courier;
    background-color: #d3d3d3;
}

button {
    font-size: 8pt;
}

.shSession {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 12px;
    z-index: 10;
}

.shToken {
    position: fixed;
    left: 0;
    bottom: 15px;
    font-size: 12px;
    z-index: 10;
}

.shVersion {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 12px;
    z-index: 10;
}

/**************** box layouts */
.gameBoxDiv {
    margin-top: 7px;
    margin-right: 5px;
    float: left;
}
.gameBoxHeaderDiv {
    background: #51244a;
    border: 1px solid #0d0333;
    width: 100%;
    color: white;
}
.gameBoxInnerDiv {
    background-color: #ffffff;
    border: 1px solid hsla(357, 100.0000%, 27.0588%, .3);
    width: 100%;
    overflow:auto;
    font-size: 14px;
}
