<div>I challenge you to a game of <%= gameName %>!</div>
<a href="<%= challengeUrl %>">Click here to accept challenge</a></div>
<div>from: <%= fromProfile.name %></div>
<img src="<%= fromProfile.pict %>"></img>