<div>Reset your password by clicking the link below.  If you did not reset your password please ignore this message.</div>
<a href="<%= resetUrl %>">Click here to continue.</a></div>

<div>time queued: <%= new Date(timeQueued).toUTCString() %></div>
<div>time Sent: <%= new Date(timeSent).toUTCString() %></div>
<div>retries: <%= retries %></div>