
.commLogDiv {
    position: fixed;
    bottom: 40;
    width: 100%;
    z-index: 10;
    display: none;
    background-color: white;
}

.sh-footer-tools {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 12px;
    z-index: 10;
}

.shSession {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 12px;
    z-index: 10;
}

.shToken {
    position: fixed;
    left: 0;
    bottom: 15px;
    font-size: 12px;
    z-index: 10;
}

.shVersion {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 12px;
    z-index: 10;
}

#errorMessage {
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-style: ridge;
    border-color: red;
    border-width: 3px;
    display:none;
    height:20px;
    background:pink;
    color:red;
}

#errorDismiss {
    float:right;
    font-size:12px;
}

#infoMessage {
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-style: ridge;
    border-color: grey;
    border-width: 3px;
    display:none;
    width:80%;
    height:20px;
    background:lightgrey;
    color:grey;
}

#infoDismiss {
    float:right;
    font-size:12px;
}