body {
    background-color: #ffffff;
}

.WordWrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */

    padding-left: 1.5em;
    text-indent:-1.5em;
}

/**************** game box layouts */
.gameBoxDiv {
    margin-top: 7px;
    margin-right: 5px;
}
.gameBoxHeaderDiv {
    background: #51244a;
    border: 1px solid #0d0333;
    color: white;
    width: 100%;
}
.gameBoxInnerDiv {
    border: 1px solid #51244a;
    width: 100%;
    overflow:auto;
    font-size: 14px;
}

.gameBoxFooterDiv {
    background: #51244a;
    border: 1px solid #0d0333;
    width: 100%;
    height: 25px;
}

.commLogDiv .gameBoxHeaderDiv {
    height: 25px;
}

/**************** message box display/send layouts */
.messageLogDiv {
    width: 565px;
}
#messageLog {
    height: 100px;
}

/**************** socket/rest logger layout */
#commLog {
    height: 0px;
}
#showHideLog {
    font-size: 10px;
}