body {
    background-color: #ffffff;
}

.WordWrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */

    padding-left: 1.5em;
    text-indent:-1.5em;
}

/**************** admin fixed nav menu */
#shMenu {
    background: hsla(83, 30.0813%, 51.7647%, .9);
    border: solid hsla(83, 100%, 35%, 1);
}

/**************** admin header */
.shHeaderDiv .topBarDiv {
    background-color: #8da95f;
}

/**************** game box layouts */
.gameBoxDiv {
    margin-top: 7px;
    margin-right: 5px;
}
.gameBoxHeaderDiv {
    background: hsla(83, 30.0813%, 65%, 1.0000);
    border: 1px solid #8da95f;
    width: 100%;
}
.gameBoxInnerDiv {
    border: 1px solid #8da95f;
    width: 100%;
    overflow:auto;
    font-size: 14px;
}

.gameBoxFooterDiv {
    background: hsla(83, 30.0813%, 65%, 1.0000);
    border: 1px solid #8da95f;
    width: 100%;
}

/**************** message box display/send layouts */
.messageLogDiv {
    width: 565px;
}
#messageLog {
    height: 100px;
}

/**************** socket/rest logger layout */
#commLog {
    height: 0px;
}
#showHideLog {
    font-size: 10px;
}