<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
<title>About</title>
<%- include head.html %>

<script language="javascript">
var Env = <%- EnvJson %>;

$(init);
function init() {
    $("#shSystem").text("Example");
    $("#shSubTitle").text("About");

    commInit();

    $("#about").text(JSON.stringify(Env, undefined, 2))
}
</script>
</head>

<body>
<%- include header.html %>
<pre id="about"></pre>

<%- include footer.html %></body>
</html>