<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Shelly System</title>
<%- include head.html %>
    <style>
        .ErrorPre {
            word-wrap: break-word;
        }
    </style>
    <script>
        var Env = <%- EnvJson %>;

        $(init);
        function init() {
            $("#shSystem").text("Games");
            $("#shSubTitle").text("Error");
            $("#pageErrorMessage").text(Env.error.message);
            $("#pageErrorStack").text(Env.error.stack);
        }
    </script>

</head>
<body>
<%- include header.html %>

<div>Error: <pre id="pageErrorMessage"></pre></div>
<div>Stack: <pre id="pageErrorStack" class="ErrorPre"></pre></div>

<%- include footer.html %></body>
</html>